textarea{
    white-space: pre-wrap;
    border-radius: 10px;
    width: 535px;
    height: 300px;
    resize: none;
}

#negrito,#italico{
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
}

#esquerda,#centro,#direita{
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
}

#maiusculo,#minusculo,#maiMin{
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
}

#limparTexto{
    border-style: solid;
    border-color: black;
    background-color: darkred;
    color: white;
}

#saveButton{
    background-color: darkgreen;
    color: white;
}
@media screen and (max-width: 680px) and (min-width: 300px){

    h1{
        text-align: center;
    }
}
